.input-box-width {
  width: 32%;
}
.input-group {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 3px;
}
.add-btn {
  float: left;
}
.input-field {
  display: flex;
  align-items: baseline;
}
i {
  font-size: 18px;
}
