<div class="center my-wallet">
  <div *ngIf="savedCards$ | async as userSavedCardList; else loading">
    <ng-container *ngIf="userSavedCardList.length > 0; else noCardFound">
      <div
        *ngFor="let card of userSavedCardList; trackBy: trackByCardId"
        class="saved-cards"
      >
        <div class="card-details">
          <div>
            <div>Debit Card Number</div>
            <div>{{ card?.cardNumber | maskcard }}</div>
          </div>
          <div>
            {{ card?.cardNetwork | titlecase }}
          </div>
        </div>
        <div class="remove-btn">
          <button
            mat-stroked-button
            color="primary"
            (click)="openRemoveCardDialog(card)"
          >
            Remove
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #noCardFound>
      <h3 class="align-text-center">No Saved Cards Found!</h3>
    </ng-template>
  </div>
  <ng-template #loading>
    <mat-spinner class="center"></mat-spinner>
  </ng-template>
  <div class="add-card">
    <button
      mat-raised-button
      color="primary"
      class="add-btn"
      (click)="openAddNewCardDialog()"
    >
      Add New Card
    </button>
  </div>
</div>
