<div class="center my-wallet">
  <div *ngIf="savedCards$ | async as userSavedCards; else loading">
    <ng-container *ngIf="userSavedCards.length > 0; else noCardFound">
      <div *ngFor="let card of userSavedCards" class="saved-cards">
        <div class="card-details">
          <div>
            <div>{{ card.cardType | titlecase }} Card Number</div>
            <div>{{ card.cardNumber | maskcard }}</div>
          </div>
          <div>
            {{ card.cardNetwork | titlecase }}
          </div>
        </div>
        <div class="remove-btn">
          <button mat-stroked-button color="primary">Remove</button>
        </div>
      </div>
    </ng-container>
    <ng-template #noCardFound>
      <h3 class="align-text-center">No Saved Cards Found!</h3>
    </ng-template>
  </div>
  <ng-template #loading>
    <mat-spinner class="center"></mat-spinner>
  </ng-template>
  <div class="add-card">
    <button mat-raised-button color="primary" class="add-btn">
      Add New Card
    </button>
  </div>
</div>
