.my-wallet {
  width: 50%;
  border: 1px solid #cccccc;
}
.saved-cards {
  display: flex;
  justify-content: space-around;
  padding: 4% 0% 1% 0%;
}
.card-details {
  border: 1px solid #cccc;
  width: 70%;
  padding: 3%;
  display: flex;
  justify-content: space-between;
}
.remove-btn {
  display: flex;
  align-items: center;
}
.add-btn {
  width: 30%;
}
.add-card {
  padding: 3%;
}
.card-number {
  font-weight: bold;
}
i {
  font-size: 20px;
}
.wallet-heading {
  margin-left: 25%;
  padding-top: 50px;
  margin-bottom: 0px;
}
