.center {
  margin: 0 auto;
}
.align-text-center {
  text-align: center;
}
.full-width {
  width: 100%;
}
.close-icon {
  float: right;
}
.cursor {
  cursor: pointer;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
